body{
    margin: 0;
    padding: 0;
}

#container {
    display: grid;
    grid-template-columns: repeat(var(--n), 1fr);
    grid-template-rows: auto;
    width: 500px;
    height: 500px;
}

div {
    width: auto;
}
